$app-width: 600px;
$app-height: 400px;

$content-width: 350px;
$content-height: 100%;

$sider-width: 150px;
$sider-height: 100%;

$primary-text: #131313;
$regular-text: #5a5b5e;
$secondary-text: #929696;
